.resume-wrapper{

width:85%;

margin:auto;

padding-top:8rem;

display:flex;

flex-direction:column;

align-items:center;

}

.resume-title{

margin-bottom:2rem;

}

.resume-card{

width:900px;

max-width:100%;

padding:2rem;

border-radius:30px;

background:
rgba(
255,
255,
255,
0.05
);

backdrop-filter:
blur(20px);

border:

1px solid
rgba(
255,
255,
255,
0.2
);

}

.resume-preview{

width:100%;

height:700px;

border:none;

border-radius:18px;

}

.resume-buttons{

display:flex;

justify-content:center;

gap:2rem;

margin-top:2rem;

}

.resume-buttons a{

padding:1rem 2rem;

border-radius:20px;

text-decoration:none;

color:white;

background:

linear-gradient(
90deg,
var(--purple),
var(--cyan)
);

}

.resume-buttons a:hover{

transform:translateY(-3px);

}

@media(max-width:700px){

.resume-preview{

height:450px;

}

.resume-buttons{

flex-direction:column;

}

}